<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.framework.util.util_framework">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".customview.ViewActivity"/>

        <activity android:name=".network.retrofit.RetrofitActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Volley使用  开始 -->
        <activity
            android:name=".network.volley.VolleyActivity"
            ></activity>
        <!-- Volley使用  结束 -->

    </application>

</manifest>